<td><%= truncate(@product.store_name, length: 20) %></td>
<td><%= truncate(@product.store_section.name, length: 20) %></td>
<td><%= truncate(@product.name, length: 20) %></td>
<td><%= @product.quantity %></td>
