<!-- app/components/product_group_component.html.erb -->

<div class="product-group">
  <h2 class="has-text-centered has-text-weight-bold is-size-3 mb-4"><%= formatted_date %></h2>
    <div class="container is-centered">
    <%= render @products %>
    </div>
  </div>
<div class="mt-6"></div>
